/* navbar  */

#Navbar {
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(36 50 93 / 6%);
    /* padding: 4px 0; */
}

.Logo a {
    text-decoration: none;
    color: #24325d;
    font-size: 28px;
    font-weight: 500;
}

.Menuul li a {
    padding: 10px 0 10px 30px;
    font-family: sans-serif;
    color: #24325d;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.Menuul li a:hover {
    color: #006fbe;
}

.dropdown-toggle::after {
    color: #35405f;
}

.first a {
    color: #006fbe !important;
}


/* navbar  end */


/* slider   */

.carousel-item {
    height: 70%;
}


/* 
.carousel-indicators li {
    border-radius: 50% !important;
} */


/* slider  end  */


/* about */

.abouttxt {
    color: #444444;
    font-size: 16px;
}

.abouttitle {
    text-align: center;
    color: #444444;
    font-size: 32px;
    font-weight: 700;
}

.aboutheadtxt {
    text-align: center;
    color: #444444;
}

.aboutul {
    list-style: none;
    margin-left: -40px;
}

.aboutul li i {
    font-size: 14px;
    color: #006fbe;
    margin-right: 7px;
}

.btn-learn-more {
    border: 2px solid #006fbe;
    padding-left: 25px;
    padding-right: 25px;
    color: #006fbe;
}

.btn-learn-more:hover {
    background-color: #006fbe;
    color: #fff;
}


/* about end */


/* features */

.feature-card {
    text-align: center;
    margin-top: 20px;
}

.icon {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}

.icon i {
    font-size: 32px;
    color: #006fbe;
}

#Features {
    margin-top: 100px;
}

.feature-card a {
    font-size: 18px;
    color: #444444;
    font-weight: 500;
    text-decoration: none;
}

.feature-card p {
    font-size: 14px;
    color: #444444;
}


/* features end */